<div id="content" class="col-lg-10 mx-auto">

  <header id="header" class="col-lg-12" [style.background]="header_color">
    <h1>
      {{ title }}
    </h1>
   
  </header>
  <nav id="nav" class="col-lg-12">
    <ul>

      <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
      <li><a [routerLink]="['/clientes']" [routerLinkActive]="['activado']">Cliente</a></li>
      <li><a [routerLink]="['/usuarios']" [routerLinkActive]="['activado']">Usuario</a></li>
      <li><a [routerLink]="['/crear-clientes']" [routerLinkActive]="['activado']">Crear Cliente</a></li>
      <li><a href="#">Servicio</a></li>
      <li><a href="#">Despacho</a></li>
      <li><a href="#">Tarifa</a></li>
      <li><a href="#">Ciudad</a></li>
      <li><a href="#">Tipo de Vehiculo</a></li>
      <li><a href="#">Vehiculo</a></li>

    </ul>
  </nav>

  <section id="main" class="col-lg-12">
     
          <!--Componente actual-->
          <h6>
              <router-outlet></router-outlet>
            </h6>
        
    </section>

  <footer id="footer" class="col-lg-12">
    <p>
      Transportadora DKARGA
    </p>
  </footer>
</div>


